MLK/Voice_Cloning/synthesizer/saved_models/logs-pretrained/taco_pretrained/tacotron_model.ckpt-278000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
MLK/Voice_Cloning/MLKAudio/MLKMountain.flac filter=lfs diff=lfs merge=lfs -text
MLK/Voice_Cloning/MLKAudio/BeyondVietnam.flac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
